@import "src/helpers/constants/styles/screens";

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 224px;
  height: 40px;
  background: rgba(31, 41, 55, 1);
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.6;
  padding: 9px 14px;
  overflow: hidden;
  @media (max-width: $table-min-search-header) {
    width: 24px;
    padding: 0;
    height: 24px;
    background-color: transparent;
    svg{
      height: 100%;
      width: 100%;
    }
  }

  &__field {
    width: 160px;
    background-color: transparent;
    border: 0;
    color: #FFFFFF;
    @media (max-width: $table-min-search-header) {
      display: none;
    }

  }
}
