@import "src/helpers/constants/styles/screens";

.burger {
  display: none;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  @media (max-width: $table) {
    display: flex;
  }
}

.menu-button-container {
  display: block;
  width: 30px;
  cursor: pointer;
}

#menu-toggle {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;

  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:not([disabled]):active + .menu-button-container .menu-button::after,
#menu-toggle:not([disabled]):focus + .menu-button-container .menu-button::after,
#menu-toggle:checked + .menu-button-container .menu-button::after,
#menu-toggle:not([disabled]):active + .menu-button-container .menu-button::before,
#menu-toggle:not([disabled]):focus + .menu-button-container .menu-button::before,
#menu-toggle:checked + .menu-button-container .menu-button::before {
  background-color: #F5C678;
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
